*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}
.contenido{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1rem;
    text-decoration-color: white;
    display: grid;
  }
  .collapse{
    text-align: center;
    justify-content: center;
    padding-right: 5rem;
  }
  .contenedor li:hover {
    color: #fcfcfc;
    font-weight: bold;
  }
p{
    margin-top: 3rem;
    margin-left: 50px;
    margin-right: 50px;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: center;
    text-align: center;
    display: grid;
}
.footer__root{
    margin-top: 1.5rem;
    font-size: 1em;
    color: black;
}

.footer__root li:hover{
  color: black;
  font-weight: bold;
}
