*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}
main{
    display: grid;
    margin-top: 10%;
}

.gallery-container{
    display: grid;
    margin-left: 90px;
    margin-right: 25px;
    position: relative;
    display: grid;
}
.productos{
    justify-content: center;
    position: relative;
    vertical-align: small;
    display: inline-block;

}
.producto1{
    position: relative; 
    vertical-align: small;
    display: inline-block;
}
.producto2{
    position: relative; 
    vertical-align: small;
    display: inline-block;
}
.producto3{
    position:relative; 
    vertical-align: small;
    display: inline-block;
}
.producto4{
    position:relative; 
    vertical-align: middle;
    display: inline-block;
}
.producto5{
    position:relative; 
    vertical-align: middle;
    display: inline-block;
    padding-left: 70px;
}
.producto6{
    position:relative;
    vertical-align: middle;
    display: inline-block;
    padding-left: 80px;
    padding-right: -10;
}

.product-block__brand {
    color: grey;
    text-decoration: none;
    text-transform: uppercase;
    display: grid;
    font-size: 17px;
    margin-bottom: 0px;
    padding-left: 0%;

    text-align: center;
}

.producto-block__price{
    font-family: "Trebuchet MS", Helvetica, sans-serif!important;
    font-size: 1.65rem;
    color: grey;
    font-weight: 500;
    line-height: 2;
    text-align: center;
    margin-bottom: 0.875rem;
}
.product-block__sku {
    color: grey;
    text-decoration: none;
    font-style: italic;
    display: block;

    font-size: 14px;
    margin-bottom: 0px;
    text-align: center;
}

.button{
    max-width: 85%;
    display: grid;
    width: 100%;
    float: left;
}
.button {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 1rem;
    padding: 0.85em 1em;
    border: 1px solid transparent;
    border-radius: 0;
    font-size: .9rem;
    line-height: 1;
    text-align: center;
    color: #fefefe;
    border: blue;
}
.button.bordered {
    border-width: 2px;
    border-style: solid;
    background: transparent;
}
.button.circular {
    padding-right: 1.875rem;
    padding-left: 1.875rem;
    border-radius: 9999px;
}
.button.small {
    padding-top: 0.8rem;
    padding-right: 1.5rem;
    padding-bottom: 0.75rem;
    padding-left: 1.5rem;
}

element.style {
    float: left;
    margin-left: 20%;
}
.button.blue.bordered {
    border-color: #617ce8!important;
}
.button.blue.bordered {
    color: #024964;
    border-color: #024964;
    background: transparent;
}
.button.blue {
    /* color: rgba(255, 255, 255, .75); */
    color: #FFFFFF;
    background: #6b8dde;
}
.button.circular {
    padding-right: 1.875rem;
    padding-left: 1.875rem;
    -webkit-border-radius: 9999px;
    -moz-border-radius: 9999px;
    border-radius: 9999px;
}
.button.bordered {
    border-width: 2px;
    border-style: solid;
    background: transparent;
}
.button.small {
    padding-top: 0.8rem;
    padding-right: 1.5rem;
    padding-bottom: 0.75rem;
    padding-left: 1.5rem;
}
.button.small {
    font-size: .75rem;
}
span{
    color: #989898;
    font-size: 14px;
}
