*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}
.contenido{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1rem;
    text-decoration-color: white;
    display: grid;
}
.contenedor li:hover {
    color: #fcfcfc;
    font-weight: bold;
}
.collapse{
    text-align: center;
    justify-content: center;
    padding-right: 5rem;
}

.formulario {
    position: relative;
    padding-right: 250px;
    padding-left: 200px;
    margin-block-end: 35px;
    margin-top: 1.5rem;
    justify-content: center;
}

.footer__root{
    margin-top: 2rem;
    margin-block-end: 1rem;
}

.footer__root li:hover{
    color: black;
    font-weight: bold;
  }
